@page "/weather"
@using DataAccess
@using DataAccess.Entities
@using DataAccess.Repository
@using DataAccess.Repository.Users
@attribute [StreamRendering]

<PageTitle>Users</PageTitle>

<h1>Users</h1>

@if (users == null)
{   
<p>
    <em>Loading...</em>
</p>
}
else
{
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Age</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in users)
    {
    <tr>
        <td>@user.Name</td>
        <td>@user.Surname</td>
        <td>@user.Email</td>
        <td>@user.Age</td>
        <td>@user.Phone</td>

    </tr>
    }
    </tbody>
</table>
}

@code {
private List<DataAccess.Entities.User> users;
[Inject] private IGenericRepository<DataAccess.Entities.User> _userRepository { get; set; }

protected override async Task OnInitializedAsync()
{
   users = await _userRepository.GetAll();
}
}
